In [1]:
# Creo un dataframe por cÃ³digo
import pandas as pd
df = pd.DataFrame({
   "Name": ["Braund, Mr. Owen Harris",
   "Allen, Mr. William Henry",
   "Bonnell, Miss. Elizabeth"],
   "Age": [22, 35, 58],
   "Children": [3, 1, 4],
   "Sex": ["male", "male", "female"]}
   )
df

                       Name  Age  Children     Sex
0   Braund, Mr. Owen Harris   22         3    male
1  Allen, Mr. William Henry   35         1    male
2  Bonnell, Miss. Elizabeth   58         4  female

In [2]:
# Obtengo la serie asociada de la columna Age
print(df["Age"])

# Obtengo la serie 
print(df["Age"].between(20, 36, True))

0    22
1    35
2    58
Name: Age, dtype: int64
0     True
1     True
2    False
Name: Age, dtype: bool

/var/folders/hs/l_1lcgrj2qvbzy14vv7xtj7800t2q4/T/ipykernel_29597/105461208.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  print(df["Age"].between(20, 36, True))

In [3]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
df["Age"].max()

In [ ]:
ages.max()

In [ ]:
df.describe()

In [ ]:
titanic = pd.read_csv("/Users/martincabrera/Lab/data/titanic.csv")
titanic

In [ ]:
titanic.head(8)

In [ ]:
titanic.tail(10)

In [ ]:
titanic.dtypes

In [ ]:
titanic.to_excel('/Users/martincabrera/Lab/data/titanic.xlsx', sheet_name='passengers', index=False)

In [ ]:
titanic = pd.read_excel('/Users/martincabrera/Lab/data/titanic.xlsx', sheet_name='passengers')
titanic.head(10)

In [ ]:
titanic.info()

In [ ]:
titanic_ages = titanic["Age"]
titanic_ages.head()

In [ ]:
type(titanic["Age"])

In [ ]:
titanic["Age"].shape

In [ ]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

In [ ]:
type(titanic[["Age", "Sex"]])

In [ ]:
type(age_sex)

In [ ]:
age_sex.shape

In [ ]:
above_35 = titanic[titanic["Age"] > 35]
above_35

In [ ]:
above_35.shape

In [ ]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23.head()

In [ ]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23.head()

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]
adult_names.head()

In [ ]:
titanic.iloc[9:25, 2:5]

In [ ]:
titanic.iloc[0:3, 3] = "anonymous"
titanic.head()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
air_quality = pd.read_csv("/Users/martincabrera/Lab/data/air_quality_no2.csv", index_col=0, parse_dates=True)

In [ ]:
air_quality.head()

In [ ]:
air_quality.plot()

In [ ]:
air_quality["station_paris"].plot()

In [ ]:
air_quality.plot.scatter(x="station_london", y="station_paris", alpha=0.5)

In [ ]:
[method_name for method_name in dir(air_quality.plot) if not method_name.startswith("_")]

In [ ]:
air_quality.plot.box()

In [ ]:
axs = air_quality.plot.area(figsize=(12, 4), subplots=True)

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4));
air_quality.plot.area(ax=axs);
axs.set_ylabel("NO$_2$ concentration");
fig.savefig("/Users/martincabrera/Lab/data/no2_concentrations.png")